<div class="chat" *ngIf="chatCompanion">
    <div style="margin-bottom: 30px; border-bottom: 2px solid black; height: 40px; font-size: 27px; font-weight: bold;">
        {{chatCompanion.name + ' ' + chatCompanion.surname}}
    </div>
    <div style="height: 570px; overflow-x: hidden; overflow-y: auto;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div *ngFor="let message of messages" style="width: 100%; display: inline-block;">
            <div class="chat-item" [style.float]="message.userId === currentUserId ? 'right' : 'left'">
                <p class="chat-text">
                    {{message.message}}
                    <br>
                    <span style="float: right;margin-top: 5px; font-size: 13px;">{{message.date | date:'short'}}</span>
                </p>            
            </div>
        </div>
    </div>
    <div style="position: absolute; bottom: 0; width: 100%; display: flex;">
        <mat-form-field appearance="outline" style="width: 88%;">
            <textarea matInput [formControl]="messageControl" style="resize: none;" placeholder="Write a message..."></textarea>
        </mat-form-field>
        <button mat-stroked-button 
            color="primary"
            [disabled]="messageControl.value === ''"
            (click)="createMessage()"
            style="margin-left: 5px; width: 110px; height: 60px; margin-top: 12px;border-radius: 100px;">
            Send
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>
