.main-container {
    margin: 50px auto;
    padding-bottom: 20px;
    width: 80%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
}

.navbar {
    min-width: 20%;
}

.navbar-link-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 20px;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.content {
    padding: 30px;
}