<header class="header">
  <div class="header-title">
    <img class="header-logo" src="assets/logo.png" alt="">
    <span class="header-title-text">
      Kurlyk
    </span>
  </div>
  <span class="header-caption">
    Delivering the message on the wings of a pigeon
  </span>
</header>

<mat-sidenav-container class="main-container">
  <mat-sidenav class="navbar" mode="side" opened>
    <div class="navbar-link-container">
      <a class="navbar-link" routerLink="signin" *ngIf="!userIsAuthorized()" [style.color]="colorFirst">
        Sign In
      </a>
      <a class="navbar-link" routerLink="signup" *ngIf="!userIsAuthorized()" [style.color]="colorFirst">
        Sign Up
      </a>
      <a class="navbar-link" routerLink="home" *ngIf="userIsAuthorized()" [style.color]="colorFirst">
        Home
      </a>
      <a class="navbar-link" routerLink="profile" *ngIf="userIsAuthorized()" [style.color]="colorFirst">
        Profile
      </a>
      <a class="navbar-link" routerLink="chats" *ngIf="userIsAuthorized()" [style.color]="colorFirst">
        Chats
      </a>
      <a class="navbar-link" routerLink="contacts" *ngIf="userIsAuthorized()" [style.color]="colorFirst">
        Contacts
      </a>
      <a class="navbar-link" routerLink="signin" *ngIf="userIsAuthorized()" (click)="signOut()" [style.color]="colorFirst">
        Sign Out
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content style="overflow: hidden;">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer">
  <span class="footer-text">
    Created by Roma, Dania, Artur IT-94
  </span>
</footer>