<mat-sidenav-container class="main-container">
  <mat-sidenav class="navbar" mode="side" opened>
    <div class="navbar-link-container" [style.color]="colorFirst">
      <a class="navbar-link" routerLink="home">
        Home
      </a>
      <a class="navbar-link" routerLink="profile">
        Profile
      </a>
      <a class="navbar-link" routerLink="chats">
        Chats
      </a>
      <a class="navbar-link" routerLink="contacts">
        Contacts
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet ></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>